<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Eight Puzzle Solver</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="container my-3">
			<div class="text-center">
				<h1 class="display-3">Eight Puzzle Solver</h1>
				<h3><small class="text-muted">By: Damian Ramos</small></h3>
			</div>

			<form method="post" action="/">
				<table class="table">
					{% for i in range(values|length) %}
						<tr class="col">
							{% for j in range(values[i]|length) %}
								<td><input type="text" class="form-control" name="box_{{ i }}_{{ j }}" value="{{ values[i][j] }}" pattern="\d*"></td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>

				<div class="container my-3">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="uniformCostSearch" value="uniformCostSearch" {% if selected_algo == 'uniformCostSearch' %} checked {% endif %}>
						<label class="form-check-label" for="uniformCostSearch">Uniform Cost Search</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="misplacedTileHeuristic" value="misplacedTileHeuristic" {% if selected_algo == 'misplacedTileHeuristic' %} checked {% endif %}>
						<label class="form-check-label" for="misplacedTileHeuristic">Misplaced Tile Heuristic</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="manhattanDistanceHeuristic" value="manhattanDistanceHeuristic" {% if selected_algo == 'manhattanDistanceHeuristic' %} checked {% endif %}>
						<label class="form-check-label" for="manhattanDistanceHeuristic">Manhattan Distance Heuristic</label>
					</div>
				</div>

				<div class="container ms-1">
					<button type="submit" class="btn btn-primary btn-lg" name="submit">Solve</button>
				</div>
				<div class="container mt-2 ms-2">
					<button type="submit" class="btn btn-secondary btn-sm" name="reset">Reset</button>
				</div>
			</form>
		</div>
	

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
			

	</body>
</html>
